*,
*::before,
*::after {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

img {
  display: block;
  width: 100%;
}

.list {
  list-style: none;
  text-decoration: none;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

/*-------------------------- footer styles ---------------------*/
.footer-space {
  background-color: var(--footer-bg-color);
  padding-bottom: 60px;
  padding-top: 60px;
  padding-left: 0;
  display: flex;
  align-items: flex-start;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .portfolio.section {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio.section {
    padding-top: 30px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio.section {
    padding-top: 50px;
    padding-bottom: 94px;
  }
}

.client-list {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
}

.clients-net {
  max-width: 106px;
  max-height: 60px;
  fill: var(--team-bg-card);
}
.clients-a:hover .clients-net {
  fill: var(--active-color);
}
.clients-a:focus .clients-net {
  border-color: var(--active-color);
  fill: var(--active-color);
}

.client-heading {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-button-color);
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .client-heading {
    font-size: 36px;
  }
}

.clients-a {
  display: flex;
  width: 210px;
  height: 92px;
  align-items: center;
  justify-content: center;
  padding: 0px 0px;
  background: var(--active-color-letters);
  border: 1px solid var(--team-bg-card);
  box-sizing: border-box;
  border-radius: 4px;
}
.clients-a:hover {
  border-color: var(--active-color);
  cursor: pointer;
}
.clients-a:focus {
  border-color: var(--active-color);
}
@media screen and (min-width: 768px) {
  .clients-a {
    width: 226px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-a {
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 480px) {
  .clients-list {
    max-width: 210px;
    max-height: 92px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .clients-list {
    max-width: 226px;
    max-height: 92px;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .clients-list {
    max-width: 170px;
    max-height: 92px;
    align-items: center;
    justify-content: center;
  }
}

/* ---------------------------footer-logo---------------------- */
/* -------------------------footer address links----------------- */
.container-footer {
  align-items: center;
}
@media screen and (min-width: 768px) {
  .container-footer {
    text-align: center;
    flex-direction: column;
  }
}
@media screen and (min-width: 1200px) {
  .container-footer {
    text-align: start;
    display: flex;
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .footer-adr {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adr {
    align-items: baseline;
  }
}

.address .link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  color: var(--footer-address-link-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-link {
  color: var(--address-maplink-color);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-map {
  margin-bottom: 8px;
}

.address.list {
  margin-bottom: -8px;
}

.address .link:hover,
.address .link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--active-color);
  text-decoration: none;
}

.footer-link-word {
  color: var(--active-color-letters);
  font-style: normal;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  margin-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer-link-word {
    margin-top: 0;
    justify-content: center;
    float: right;
  }
}
.footer-net {
  fill: var(--active-color-letters);
}

.footer-link-item + .footer-link-item {
  margin-left: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) {
  .networks-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .networks-footer {
    margin-right: 93px;
  }
}

.footer-content {
  text-align: center;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .address-links {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .address-links {
    text-align: start;
    flex-direction: row;
    margin-right: 70px;
  }
}

.social-network__links:hover,
.social-network__links:focus {
  background-color: var(--active-color);
}

/* ----------------------------mailing----------------------------------- */
.mailing-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color-letters);
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .mailing-text {
    margin-bottom: 20px;
  }
}

.input-email {
  position: relative;
}
@media screen and (min-width: 768px) {
  .input-email {
    max-width: 450px;
  }
}

.email {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .mailing {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
@media screen and (min-width: 1200px) {
  .mailing {
    display: block;
    text-align: start;
  }
}

.input-email:focus + .email,
.input-email:not(:placeholder-shown) + .email {
  transform: translateY(-45px);
}

@media screen and (min-width: 1200px) {
  .form {
    display: flex;
  }
}

.button-submit {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: 0;
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--active-color-letters);
  cursor: pointer;
}

.button-footer {
  display: flex;
  justify-content: center;
}

.icon-submit {
  fill: var(--active-color-letters);
}
.icon-submit:hover, .icon-submit:focus {
  background-color: var(--hero-button-bg);
}

.mailing-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--active-color-letters);
}

.input-email {
  width: 100%;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  padding-left: 16px;
  font: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-bg-color);
  color: var(--active-color-letters);
}
@media screen and (min-width: 1200px) {
  .input-email {
    width: 358px;
  }
}

.form-field {
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .form-field {
    position: relative;
    margin-right: 12px;
    display: inline-block;
    align-items: baseline;
  }
}

.input-email:focus + .email,
.input-email:not(:placeholder-shown) + .email {
  transform: translateY(-45px);
}

.button-submit {
  width: 200px;
  height: 50px;
  border: 0;
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--active-color-letters);
  cursor: pointer;
}
.button-submit:hover, .button-submit:focus {
  background-color: var(--hero-button-bg);
}
@media screen and (min-width: 1200px) {
  .button-submit {
    display: inline-block;
  }
}

.icon-submit {
  fill: var(--active-color-letters);
}

.header {
  border-bottom: 1px solid var(--line-under-hero);
}
.header .container {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  padding-left: 93px;
}

.site-nav__item {
  display: block;
  text-align: center;
}

.site-nav__link {
  padding-bottom: 32px;
  padding-top: 32px;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--address-link-color);
}
.contacts-mail:hover .mail-icon, .contacts-mail:focus .mail-icon {
  fill: var(--active-color);
}

.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--address-link-color);
}
.contacts-tel:hover .tel-icon, .contacts-tel:focus .tel-icon {
  fill: var(--active-color);
}

.page-nav {
  display: flex;
}

.site-nav__link {
  position: relative;
  display: inline-block;
  color: var(--nav-button-color);
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  cursor: pointer;
}
.site-nav__link::after {
  content: "";
  position: absolute;
  background: var(--active-color);
  border-radius: 2px;
  width: 100%;
  height: 4px;
  left: 50%;
  bottom: -1px;
  transform: translateX(-50%);
  opacity: 0;
}

.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link.current,
.site-nav__link.current::after {
  color: var(--active-color);
  opacity: 1;
}

.contacts.list {
  display: inline-flex;
}

.contacts-link {
  color: var(--contacts-link-color);
  font-family: inherit;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts-link:hover, .contacts-link:focus {
  color: var(--active-color);
}

.contacts {
  margin-left: auto;
  align-items: center;
}

.contacts-mail {
  margin-right: 50px;
}

.hero-content {
  background-color: var(--hero-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heroBG-pic.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.hero-content__heading {
  color: var(--hero-heading-color);
  text-align: center;
  line-height: 1.36;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.goals {
  margin-bottom: -30px;
}
@media screen and (min-width: 768px) {
  .goals {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .goals {
    margin-bottom: -30px;
  }
}

.goals__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: var(--portfolio-bt-bg);
  margin-right: 0;
}
@media screen and (min-width: 768px) {
  .goals__container {
    max-width: 354px;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .goals__container {
    max-width: 270px;
    justify-content: center;
    align-items: center;
  }
}

.goals__card {
  margin-bottom: 30px;
}

.goals__text {
  padding-top: 30px;
}
@media screen and (min-width: 768px) {
  .goals__text {
    max-width: 354px;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .goals__text {
    max-width: 270px;
  }
}

.text-caption {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: var(--mb-text);
}
@media screen and (min-width: 768px) {
  .text-caption {
    text-align: left;
  }
}

.text-content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 768px) {
  .text-content {
    max-width: 354px;
    text-align: left;
  }
}

@media screen and (max-width: 1200px) {
  .mob-tab-hidden {
    display: none;
  }
}

.work-text {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.pictures {
  display: flex;
  padding-bottom: 94px;
}
.pictures .pictures-img:not(:last-child) {
  margin-right: 30px;
}

.pictures-img {
  position: relative;
}

.pictures-text {
  position: absolute;
  text-align: center;
  font-weight: 700;
  font-style: bold;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  justify-content: center;
  width: 370px;
  padding-top: 27px;
  padding-bottom: 27px;
  bottom: 0px;
  color: var(--active-color-letters);
  background-color: rgba(47, 48, 58, 0.8);
}

.section.team {
  background-color: var(--team-bg);
}

.our-team-pic {
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .our-team-pic {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.section-team .box {
  background-color: var(--section-team-bg);
}

.team-heading {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
@media screen and (min-width: 1200px) {
  .team-heading {
    font-size: 36px;
  }
}

.team-names {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--team-name-color);
  margin-bottom: var(--mb-text);
}

.box {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--active-color-letters);
}
@media screen and (min-width: 768px) {
  .box {
    max-width: 354px;
    max-height: 536px;
  }
}
@media screen and (min-width: 1200px) {
  .box {
    max-width: 270px;
    max-height: 428px;
  }
}

.box:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .box:not(:last-child) {
    margin-bottom: 0;
  }
}

.box-text {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-prof {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.social-network__svg {
  fill: var(--team-bg-card);
}

.social-network {
  display: flex;
  justify-content: center;
}

.social-network__links {
  width: 44px;
  height: 44px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.social-network__links:hover .social-network__svg,
.social-network__links:focus .social-network__svg {
  fill: var(--active-color-letters);
}

.social-network__items + .social-network__items {
  margin-left: 10px;
}

.list-button {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 8px;
}
@media screen and (min-width: 480px) {
  .list-button {
    margin-top: 60px;
    margin-bottom: 40px;
    justify-content: left;
  }
}
@media screen and (min-width: 768px) {
  .list-button {
    margin-top: 50px;
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media screen and (min-width: 1200px) {
  .list-button {
    margin-top: 60px;
    margin-bottom: 50px;
    justify-content: center;
  }
}

.button-portfolio {
  display: block;
  background-color: var(--portfolio-bt-bg);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--portfolio-bt);
  cursor: pointer;
  margin: 0;
  border: 0;
  padding: 6px 22px;
  border-radius: 4px;
}
.button-portfolio:hover, .button-portfolio:focus {
  color: var(--active-color-letters);
  background-color: var(--active-color);
}
.button-portfolio .current {
  background: var(--active-color);
  color: var(--active-color-letters);
}

/* ------------------portfolio content--------------------------------- */
.profile.list {
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .profile.list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
  }
}

.profile-hover {
  position: absolute;
  font-size: 18px;
  color: var(--active-color-letters);
  width: 370px;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  transform: translate(-50%, -50%);
  padding: 63px 24px;
  top: 50%;
  left: 50%;
}

.card-fone {
  position: relative;
  overflow: hidden;
}

.card-overlay {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(0%);
}
.profile-box:hover .card-overlay, .profile-card:focus .card-overlay {
  transform: translateY(-100%);
  opacity: 1;
  height: 100%;
}

.title-text {
  padding: 20px 24px;
  border-right: 1px solid var(--portfolio-title-text);
  border-bottom: 1px solid var(--portfolio-title-text);
  border-left: 1px solid var(--portfolio-title-text);
  flex-direction: column;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.profile-box {
  display: block;
  background-color: var(--section-team-bg);
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .profile-box {
    max-width: calc(50% - 30px);
    margin-right: 30px;
    margin-bottom: 30px;
  }
}

.profile-box-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-bottom: 4px;
}

.profile-box-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--contacts-link-color);
  letter-spacing: 0.03em;
}

.profile-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  text-decoration: none;
}
.profile-card:hover, .profile-card:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06), 0px 1px 1px rgba(0, 0, 0, 0.12);
}
.profile-card::before {
  width: 370px;
  height: 294px;
  background-color: rgba(33, 150, 243, 0.9);
}

:root {
  --main-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --line-under-hero: #ececec;
  --team-bg-card: #afb1b8;
  --title-color: #212121;
  --main-text-color: #757575;
  --hero-heading-color: #ffffff;
  --hero-bg-color: #c4c4c4;
  --hero-button-bg: #188ce8;
  --team-bg: #f5f4fa;
  --section-team-bg: #ffffff;
  --active-color: #2196f3;
  --active-color-letters: #ffffff;
  --logo-dark-color: #000000;
  --logo-footer-color: #ffffff;
  --address-link-color: #757575;
  --address-maplink-color: #ffffff;
  --footer-address-link-color: rgba(255, 255, 255, 0.6);
  --contacts-link-color: #757575;
  --nav-button-color: #212121;
  --portfolio-bt: #212121;
  --portfolio-bt-bg: #f5f4fa;
  --team-name-color: #212121;
  --mb-text: 10px;
  --portfolio-title-text: #eeeeee;
}

.modal-button, .checkbox-icon, .modal-input, .clients-net, .clients-a, .address .link, .address-link, .email, .button-submit, .icon-submit, .site-nav__link, .mail-icon, .tel-icon, .contacts-link, .social-network__svg, .social-network__links, .button-portfolio, .card-overlay, .profile-card {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 100%;
  height: auto;
  margin: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--active-color);
  display: block;
}

.logo-header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo-dark > span {
  color: var(--logo-dark-color);
}

.logo__light {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.logo__light span {
  color: var(--logo-footer-color);
}

.social-network__links--dark {
  background-color: rgba(255, 255, 255, 0.1);
}

.backdrop {
  display: flex;
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  align-items: center;
  justify-content: center;
  transition: opacity 600ms, visibility 600ms;
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: var(--active-color-letters);
  border-radius: 4px;
  padding: 40px 39px 40px 41px;
}

.modal-header {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--nav-button-color);
  margin-bottom: 12px;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: black;
  transition: border-color 250ms;
  outline: none;
}
.modal-input:focus, .modal-input:hover {
  border: 1px solid var(--active-color);
}

.modal-input-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: black;
  transition: border-color 250ms;
  resize: none;
  outline: none;
}
.modal-input-text:focus, .modal-input-text:hover {
  border-color: var(--active-color);
}

.modal-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--address-link-color);
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: border-color 250ms;
  transition: fill 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus + .modal-icon, .modal-input:hover + .modal-icon {
  fill: var(--active-color);
}

.modal-close-bt {
  display: flex;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: Solid rgba(0, 0, 0, 0.1);
  justify-content: center;
  align-items: center;
  background-color: transparent;
  top: 8px;
  right: 8px;
  transform: fill var(--active-color) 250ms;
}
.modal-close-bt:focus, .modal-close-bt:hover {
  fill: var(--active-color);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal-text-agreement {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--address-link-color);
  padding-left: 7px;
}

.checkbox {
  position: absolute;
  appearance: none;
}

.check-box {
  position: absolute;
  width: 16px;
  height: 15px;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: solid 2px var(--nav-button-color);
  border-radius: 4px;
}
.checkbox-icon:hover, .checkbox-icon:focus + .checkbox-icon {
  border-color: var(--active-color);
}
.checkbox:checked + .checkbox-icon {
  background-color: var(--active-color);
  background-image: url("../images/Vector (1).svg");
  color: var(--active-color);
  border-color: var(--active-color);
  background-origin: border-box;
  background-repeat: no-repeat;
  background-size: contain;
}

.modal-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.checkbox-text-agreement {
  display: inline;
  position: absolute;
}

.modal-checkbox-form {
  display: flex;
  justify-content: center;
}

.agreement-style {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--active-color);
  margin-left: 4px;
}

.modal-button {
  display: block;
  width: 200px;
  height: 50px;
  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--active-color-letters);
  border: none;
  margin: 0 auto;
  cursor: pointer;
}
.modal-button:focus, .modal-button:hover {
  background-color: var(--hero-button-bg);
}

.hero-content__button {
  border-radius: 4px;
  border: 0;
  padding: 10px 32px;
  min-width: 200px;
  align-items: center;
  font-family: inherit;
  color: var(--active-color-letters);
  background-color: var(--active-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-content__button:hover, .hero-content__button:focus {
  background-color: var(--hero-button-bg);
}/*# sourceMappingURL=main.css.map */