/* ---------------------------footer-logo---------------------- */
/* -------------------------footer address links----------------- */
// .footer-space {
//   height: auto;
// }
.container-footer {
  align-items: center;
  @media screen and (min-width: 768px) {
    text-align: center;
    // display: flex;
    flex-direction: column;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    display: flex;
    flex-direction: row;
  }
}
.footer-adr {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: 1200px) {
    align-items: baseline;
    // text-align: start;
    // display: flex;
    // flex-direction: row;
  }
}
.address .link {
  list-style: none;
  text-decoration: none;
  font-style: normal;
  color: var(--footer-address-link-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  // padding-left: 0;

  @extend %transition;
}

.address-link {
  color: var(--address-maplink-color);
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  // margin-bottom: 9px;
  // display: block;
  @extend %transition;
}
.address-map {
  margin-bottom: 8px;
}
// .address .address-map:not(:last-child) {
//   // margin-bottom: 9px;
// }
.address.list {
  margin-bottom: -8px;
}

.address .link:hover,
.address .link:focus,
.address-link:hover,
.address-link:focus {
  color: var(--active-color);
  text-decoration: none;
}
.footer-link-word {
  color: var(--active-color-letters);
  font-style: normal;
  font-family: 'Roboto';

  text-transform: uppercase;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;

  margin-bottom: 20px;
  margin-top: 60px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
    justify-content: center;
    float: right;
  }
  @media screen and (min-width: 1200px) {
    // display: block;
  }
}
.footer-net {
  fill: var(--active-color-letters);
}

.footer-link-item + .footer-link-item {
  margin-left: 10px;
}

.footer-links {
  display: flex;
  justify-content: center;

  margin-bottom: 60px;
}
.networks-footer {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}
.footer-content {
  text-align: center;
  align-items: center;
  justify-content: center;
}
.address-links {
  @media screen and (min-width: 768px) {
    margin-bottom: 60px;
    // align-items: baseline;
  }
  @media screen and (min-width: 1200px) {
    text-align: start;
    // display: flex;
    flex-direction: row;
    margin-right: 70px;
  }
}
.social-network__links:hover,
.social-network__links:focus {
  background-color: var(--active-color);
}
// .address-links {
//   display: inline-block;
// }
// .address-links {
//   margin-right: 70px;
// }
/* ----------------------------mailing----------------------------------- */
.mailing-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--active-color-letters);
  text-align: center;
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    margin-bottom: 20px;
  }
}
.input-email {
  position: relative;
  @media screen and (min-width: 768px) {
    // display: flex;
    // justify-content: center;
    // position: relative;
    // flex-direction: column;
    // text-align: center;
    max-width: 450px;
    // margin-bottom: 20px;
  }

  // width: 100%;
  // // width: 358px;
  // height: 50px;
  // padding: 0;
  // border: 0;
  // border-radius: 4px;
  // // padding-left: 16px;
  // font: inherit;
  // border: 1px solid rgba(255, 255, 255, 0.3);
  // background-color: var(--footer-bg-color);
  // color: var(--active-color-letters);
}
// .form-field {
//   // position: relative;
//   // @media screen and (min-width: 768px) {
//   //   justify-content: center;
//   // }
//   // width: 100%;
//   // position: relative;
//   // @media screen and (min-width: 768px) {
//   // display: inline-block;
//   // max-width: 450px;

//   // margin-right: 12px;
//   // display: block;

//   // align-items: baseline;
// }
.email {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);

  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);

  @extend %transition;
}

.mailing {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    align-items: baseline;
    position: inherit;
    margin-bottom: 20px;
  }
  // display: inline-block;
  // align-items: baseline;
  // position: inherit;
  // margin-top: 12px;
}
.input-email:focus + .email,
.input-email:not(:placeholder-shown) + .email {
  transform: translateY(-45px);
}
// .form {
//   display: block;
// }
.button-submit {
  display: flex;
  justify-content: center;

  // position: absolute;
  width: 200px;
  height: 50px;
  border: 0;

  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--active-color-letters);
  // align-items: center;
  // justify-content: center;
  // padding: 0px;

  @extend %transition;
  cursor: pointer;
}
.button-footer {
  display: flex;
  justify-content: center;
}
.icon-submit {
  fill: var(--active-color-letters);
  // margin-left: 10px;

  @extend %transition;
  &:hover,
  &:focus {
    background-color: var(--hero-button-bg);
  }
}
.mailing-text {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--active-color-letters);
  // margin-bottom: 20px;
}

.input-email {
  width: 100%;
  // width: 358px;
  height: 50px;
  padding: 0;
  border: 0;
  border-radius: 4px;
  padding-left: 16px;
  font: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: var(--footer-bg-color);
  color: var(--active-color-letters);
  @media screen and (min-width: 1200px) {
    width: 358px;
  }
}

.form-field {
  margin-bottom: 20px;
  @media screen and (min-width: 1200px) {
    position: relative;
    margin-right: 12px;

    display: inline-block;
    align-items: baseline;
  }
}

// .email {
//   font-style: normal;
//   font-weight: 400;
//   font-size: 16px;
//   line-height: 1.25;
//   letter-spacing: 0.03em;

//   color: rgba(255, 255, 255, 0.6);

//   position: absolute;
//   top: 50%;
//   left: 16px;
//   transform: translateY(-50%);

//   @extend %transition;
// }

// .mailing {
//   display: inline-block;
//   align-items: baseline;
//   position: inherit;
//   margin-top: 12px;
// }

.input-email:focus + .email,
.input-email:not(:placeholder-shown) + .email {
  transform: translateY(-45px);
}

.button-submit {
  // display: inline-flex;

  // position: absolute;
  width: 200px;
  height: 50px;
  border: 0;

  background: var(--active-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;

  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  color: var(--active-color-letters);
  // align-items: center;
  // justify-content: center;
  // padding: 0px;

  @extend %transition;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--hero-button-bg);
  }
  @media screen and (min-width: 1200px) {
    display: inline-block;
    margin-left: 12px;
  }
}

.icon-submit {
  fill: var(--active-color-letters);
  // margin-left: 10px;

  @extend %transition;
}
