.goals {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}
.goals__container {
  display: flex;

  justify-content: center;
  align-items: center;
  height: 120px;
  border-radius: 4px;
  background-color: var(--portfolio-bt-bg);
  margin-bottom: 30px;
}

.text-content {
  max-width: 270px;
}

// .goals__card:not(:last-child) {
//   margin-right: 30px;
// }

// .goals__text {
//   padding-top: 30px;
// }

.text-caption {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: var(--mb-text);
  @media screen and (min-width: 768px) {
    text-align: left;
  }
}

.text-content {
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-size: 14px;
  //   text-align: center;
  display: inline;
}
.goals__card {
  width: 100%;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  @media screen and (min-width: 1200px) {
    width: calc(100% / 4 - 30px);
    // margin-left: 30px;
  }
}
