.hero-content {
  background-color: var(--hero-bg-color);
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/heroBG-pic.jpg);
  background-repeat: no-repeat;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
}

.hero-content__heading {
  color: var(--hero-heading-color);
  text-align: center;
  //   @include font(900, 44px, 1.36, 0.06em);
  line-height: 1.36;
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-bottom: 30px;
}
