.hero-content {
  padding: 118px 10px;
  background-color: var(--hero-bg-color);
  text-align: center;

  background-image: linear-gradient(
    
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url(/images/heroBG-pic-mob-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  margin-left: auto;
  margin-right: auto;
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
    
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url(/images/heroBG-pic-mob-2x.jpg);

}

  @media screen and (min-width: 768px){
 
    background-image: linear-gradient(
    
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url(/images/heroBG-pic-tab-1x.jpg);
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
    
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url(/images/heroBG-pic-tab-2x.jpg);

}
  }
  @media screen and (min-width: 1200px){
  padding: 200px 0;
  background-image: linear-gradient(
    
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),
    url(/images/heroBG-pic.jpg);
background-repeat: no-repeat;

  

  margin-left: auto;
  margin-right: auto;
  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(
    
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url(/images/heroBG-pic_2x.jpg);

}

  }
}
.container-hero{
  margin: 0 auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.hero-content__heading {
  color: var(--hero-heading-color);
  text-align: center;
  //   @include font(900, 44px, 1.36, 0.06em);
  
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px){
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;

  
  }
}
