.header {
  border-bottom: 1px solid var(--line-under-hero);
  .container {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 93px;
  }
  @media screen and (min-width: 1200px) {
    padding-left: 93px;
  }
}

.site-nav__item {
  display: block;
  text-align: center;
}

.site-nav__link {
  padding-bottom: 32px;
  padding-top: 32px;

  @extend %transition;
}

.site-nav__item:not(:last-child) {
  margin-right: 50px;
}

.mail-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--address-link-color);
  @extend %transition;

  .contacts-mail:hover &,
  .contacts-mail:focus & {
    fill: var(--active-color);
  }
}

.tel-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--address-link-color);
  @extend %transition;

  .contacts-tel:hover &,
  .contacts-tel:focus & {
    fill: var(--active-color);
  }
}

.page-nav {
  display: flex;
}

.site-nav__link {
  position: relative;
  display: inline-block;

  color: var(--nav-button-color);
  text-decoration: none;
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  cursor: pointer;
  @extend %transition;

  &::after {
    content: '';
    position: absolute;
    background: var(--active-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    left: 50%;
    bottom: -1px;
    transform: translateX(-50%);
    opacity: 0;
  }
}
.site-nav__link:hover,
.site-nav__link:focus,
.site-nav__link.current,
.site-nav__link.current::after {
  color: var(--active-color);
  opacity: 1;
}

.contacts.list {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    display: inline-flex;
  }
}

.contacts-link {
  color: var(--contacts-link-color);
  font-family: inherit;
  list-style: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  @extend %transition;

  &:hover,
  &:focus {
    color: var(--active-color);
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 10px;
    padding-top: 0;
  }
}

.contacts {
  margin-left: auto;
  align-items: center;
}
.menu-mobile {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  padding: 48px 0 48px 40px;
  transition-duration: 450ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: flex-start;
  }
}
.mob-site-nav__link,
.mob-contact-link {
  text-decoration: none;
}
.link-phone {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;

  letter-spacing: 0.02em;

  color: #2196f3;
}
.link-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;

  color: #757575;
}
.contacts-mail {
  @media screen and (min-width: 1200px) {
    margin-right: 50px;
  }
}
.menu-mob-btn-open,
.menu-mob-btn-close {
  border: none;
  background-color: #fff;
  cursor: pointer;

  position: absolute;
  top: 10px;
  right: 15px;
  margin-left: auto;
  border: none;
  background-color: #fff;
  cursor: pointer;
  @extend %transition;
  &:focus,
  &:hover {
    fill: var(--active-color);
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.mob-site-nav__item {
  margin-bottom: 32px;
  padding: 0;
}
.mob-contact__item:not(:last-child) {
  margin-bottom: 32px;
  padding: 0;
}
.mob-site-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #212121;
}
.mob-contact {
  margin-bottom: 64px;
}
.soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.soc-link-menu {
  text-decoration: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: calc(22 / 18);

  letter-spacing: 0.02em;

  color: #2196f3;
}
.soc-list {
  display: flex;
}
.no-scroll {
  overflow: hidden;
}
.mob-menu:hover,
.mob-menu:focus {
  fill: #2196f3;
}
