.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--active-color);
  display: block;
  @media screen and (min-width: 1200px){
    font-size: 26px;
    line-height: 1.19;
  }}
.logo-header {
  padding: 16px 0;
  // @media screen and (min-width: 1200px) {
  //   padding-top: 24px;
  //   padding-bottom: 25px;
  // }
}

.logo-dark > span {
  color: var(--logo-dark-color);
}

.logo__light {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 20px;
  span {
    color: var(--logo-footer-color);
  }
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.social-network__links--dark {
  background-color: rgba(255, 255, 255, 0.1);
}
