:root {
    --main-bg-color: #ffffff;
    --footer-bg-color: #2f303a;
    --line-under-hero: #ececec;
    --team-bg-card: #afb1b8;

    --title-color: #212121;
    --main-text-color: #757575;
    --hero-heading-color: #ffffff;
    --hero-bg-color: #c4c4c4;
    --hero-button-bg: #188ce8;
    --team-bg: #f5f4fa;
    --section-team-bg: #ffffff;

    --active-color: #2196f3;
    --active-color-letters: #ffffff;

    --logo-dark-color: #000000;
    --logo-footer-color: #ffffff;

    --address-link-color: #757575;
    --address-maplink-color: #ffffff;
    --footer-address-link-color: rgba(255, 255, 255, 0.6);
    --contacts-link-color: #757575;

    --nav-button-color: #212121;
    --portfolio-bt: #212121;
    --portfolio-bt-bg: #f5f4fa;

    --team-name-color: #212121;

    --mb-text: 10px;

    --portfolio-title-text: #eeeeee;
}